section {
	width: 100%;
	padding: 300px 0;
	color: #ffffff;
	background-size: cover;
	background-attachment: fixed;
	background-position: center; 
	// .visible {
		height: 90%;
	// 	position: fixed;
	// 	top: 30px;
	// 	overflow: scroll;
	// }

	.left {
		float: left;
	}
	.right {
		float: right;
	}
	h2 {
		font-family: 'Roboto Condensed', sans-serif;
		font-weight: 100;
		font-size: 2.5em;
		@media (min-width: 200px) and (max-width: 980px) {
			font-size: 4em;
		}
		padding: 0;
		margin: 0;
		opacity: 0.6;
	}
	p {
		font-family: 'Prompt', sans-serif;
		opacity: 0.6;
		margin: 0;
		// height: 90%;
		// overflow: hidden;
	}
}

#what {
	background-image: url('../images/21847912209_1a6226b235_o.jpg');
	h2 {
		margin: 0;
		line-height: 28px;
		@media (min-width: 200px) and (max-width: 980px) {
			line-height: 3em;
		}
	}

	h2, p {
		animation: move 10s infinite;
	}
}

#if {
	background-image: url('../images/22056325752_d21d351a47_o.jpg');
}

#they {
	background-image: url('../images/21863960029_71129de5d5_o.jpg');
	padding-top: 200px;
	.grid-container {
		opacity: 0.9;
		.row {
			margin: 100px 0;
			&:first-child {
				text-align: center;
				font-family: 'Prompt', sans-serif;
				font-size: 10px;
			} 
		}
		h5 {
			text-align: center;
			font-weight: 100;
			font-size: 1.4em;
			color: #000000;
			opacity: 0.8;
			font-family: 'Roboto Condensed', sans-serif;
		}
		h3 {
			font-size: 2em;
		}
		.underline {
			width: 70%;
			height: 2px;
			background-color: #91d9d3;
			margin: 0 auto;
			opacity: 0.5;
			margin-top: 0;
			margin-bottom: 10px;
		}
		p {
			text-align: center;
			font-size: 0.8em;
			opacity: 0.6;
			color: #000000;
		}
	}
}

#never {
	background-image: url('../images/21904208800_54ef0de345_o.jpg');
}

#went {
	background-image: url('../images/22143028298_d80761baf6_o.jpg');
	.col-4 {
		padding: 0 30px 50px 30px;
		box-sizing: border-box;
	}
	h4 {
		font-weight: 100;
		font-size: 24px;
		opacity: 0.8;
		font-family: 'Roboto Condensed', sans-serif;
	}
	@media (min-width: 200px) and (max-width: 980px) {
		padding-bottom: 500px;
	}
}

#theend {
	background-image: url('../images/21880885188_6ae5f78961_o.jpg');
	// padding-bottom: 400px;
	p {
		margin-top: 250px;
		font-size: 14px;
		a {
			color: #ffffff;
		}
		a:hover {
			color: #ffffff;
		}
		a:active {
			color: #ffffff;
		}
		a:visited {
			color: #ffffff;
		}
	}
	@media (min-width: 200px) and (max-width: 980px) and (position: landscape){
		p {
			margin-top: 0;
			margin-bottom: 0;
		}
		padding-top: 200px;
	}
	@media (min-width: 200px) and (max-width: 980px) and (position: portrait){
		p {
			margin-top: 400px;
			margin-bottom: 0;
			font-size: 2em;
		}
	}
}
