$basic-color: #874365;
$grey: #D7DBDD;
$dark-blue: #1B4F72;
$dark-red: #D62B4D;
$black: #000000;

$yellow: #F7E209;
$yellow-light: lighten($yellow, 30%);
$orange: #F7A409;
$orange-light: lighten($orange, 30%);
$red: #F73F09;
$red-light: lighten($red, 30%);
$aquamarine: #09F7BD;
$aquamarine-light: lighten($aquamarine, 30%);
